body{
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url(./img/blue-linear-gradient-black-1920x1080-c2-00bfff-000000-a-345-f-14.jpg);
}
.letter{
    display: inline-block;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 1.5em;
    background-color: black;
    color: white;
}

.letter2{
    display: inline-block;
    padding: 5px;
    margin-left: 10px;
    font-size: 3em;
}

.done{
    cursor: default;
    color: rgba(223, 217, 217, 0.418);
    border: 1px solid white;
}

h1{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: white;
    background-color: black;
    align-items: center;
    height: 50px;
    font-size: 20px;
    letter-spacing: 10px;
    margin-top: 0px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    height: 50px;
  }
button{
    font-size: large;
    margin: 50px;
    background-color: darkgrey;
}
img{
    margin-top: 50px;
}