body{
    box-sizing: border-box;
    text-align: center;
}
.letter{
    display: inline-block;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 1.5em;
}

.letter2{
    display: inline-block;
    padding: 5px;
    margin-left: 10px;
    font-size: 3em;

}

.done{
    cursor: default;
    color: #ddd;
    border: 1px solid white;
}

button{
    font-size: large;
    margin: 50px;
}